CompileFlags:
  # Chỉ cho clangd biết dùng query driver là g++ từ w64devkit
  # để clangd tìm được standard library headers (iostream, string, ...)
  Compiler: C:\raylib\w64devkit\bin\g++.exe
  Add:
    - --target=x86_64-w64-mingw32
    - -std=gnu++17

Diagnostics:
  UnusedIncludes: None
